<!DOCTYPE html>
<html lang="en" data-ng-app="mesirves" data-ng-controller="mainController as ctrl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    
    
    <title>MeSirvES</title>
    <!-- AngularMaterial CSS -->
    <link rel="stylesheet" href="resources/vendors/bower_components/angular-material/angular-material.min.css">

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
	
	<script src="resources/vendors/bower_components/fabric/dist/fabric.js"></script>
	
</head>

<body ng-app="MeSirvES">

	<div ng-controller="MainController" ng-cloak>
		<editor id="component" test="eduuu" width="800" height="500">
		</editor>

		<propiedades></propiedades>
	</div>
		

	<!-- Angular core -->
	<script src="resources/vendors/bower_components/angular/angular.js"></script>
	<script src="resources/vendors/bower_components/angular-aria/angular-aria.js"></script>
	<script src="resources/vendors/bower_components/angular-animate/angular-animate.js"></script>
	<script src="resources/vendors/bower_components/angular-material/angular-material.js"></script>
	<script src="resources/vendors/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
	
	<!-- Angular user -->
	<script src="resources/js/app.js"></script>
	<script src="resources/js/controllers.js"></script>
	<script src="resources/js/directives.js"></script>
	<script src="resources/js/services.js"></script>
	<script src="resources/js/config.js"></script>

</body>

</html>
